<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<variables>
		<variable name="dubbo_config_xml"><![CDATA[classpath*:/conf/applicationContext-dubbo.xml]]></variable>
		<variable name="data_page_size">50</variable>
	</variables>	
	<scripts>	
		<script name="userlogin">
			<![CDATA[
				select * from p_staff A where a.loginName = ? and a.loginPwd =? AND a.isVaild = 0
			 ]]>
		</script>
		
	</scripts>
</config>