<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<variables>
		<variable name="dubbo_config_xml"><![CDATA[classpath*:/conf/applicationContext-dubbo.xml]]></variable>
		<variable name="data_page_size">50</variable>
	</variables>	
	<scripts>	
		<script name="userlogin">
			<![CDATA[
				select * from p_staff A where a.loginName = ? and a.loginPwd =? AND a.isVaild = 0
			 ]]>
		</script>
		<script name="getproducts">
			<![CDATA[
				select p.*,d.dictval catalog_name from c_product p,p_dict d 
				where p.prdName like ?
				and d.dictName = 'catalog'
				and p.catalog = d.dictKey
				limit ?,?
			 ]]>
		</script>
		<script name="getproductsCount">
			<![CDATA[
				select count(1) from c_product p
				where p.prdName like ?
			 ]]>
		</script>
		
		<script name="getproductById">
			<![CDATA[
				select p.*,d.dictval catalog_name from c_product p,p_dict d 
				where p.Id = ?
				and d.dictName = 'catalog'
				and p.catalog = d.dictKey
			 ]]>
		</script>
		
		<script name="getProductColorById">
			<![CDATA[
				select * from c_produt_color pc where pc.prdID = ?
			 ]]>
		</script>
	</scripts>
</config>